---
import PersonIcon from "../icons/PersonIcon.astro"
---

<section
  id="about-section"
  class="w-full h-auto grid place-content-center px-16 mt-6"
>
  <article class="max-w-xl">
    <div class="flex items-center gap-2 mb-6">
      <PersonIcon class="w-6 h-6" />
      <h2 class="text-2xl font-semibold" data-translate="aboutMeTitle">
        About me
      </h2>
    </div>
    <p class="text-base leading-relaxed" data-translate="aboutMeDescription">
      My name is André Vélez, and I got into programming because I didn't know
      what I wanted to study. My first job was as a bilingual agent in a call
      center for a couple of years. Because of that experience I was able to
      improve my English proficiency. Currently, I'm studying and developing
      projects to become a "full-stack web developer" because there are too many
      exciting technologies to stick to just one.
    </p>
  </article>
</section>
