---
import PersonIcon from "../icons/PersonIcon.astro"
---

<section class="w-full h-auto grid place-content-center px-16 mt-6">
  <article class="max-w-xl">
    <div class="flex h-8 gap-x-4">
      <PersonIcon />
      <h4 class="text-2xl font-semibold">Sobre mí</h4>
    </div>

    <p class="mt-5">
      Me llamo Miguel Ángel pero mis amigos me llaman midu. Empecé en la
      programación con un Amstrad, tenía 10 años. Actualmente estoy liderando
      equipos de desarrollo en multinacionales. Algunos de mis éxitos incluyen
      colaborar con Mozilla para el desarrollo de las primeras apps en su
      sistema FirefoxOS. Aunque hoy está desaparecido fue un gran avance en el
      mundo del desarrollo web.
    </p>
  </article>
</section>
