---
import ExperienceIcon from "../icons/ExperienceIcon.astro"
---

<section
  id="experience-section"
  class="w-full h-auto grid place-content-center py-16 sm:py-4"
>
  <article
    class="max-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <ExperienceIcon />
    </div>
    <h2 class="text-2xl font-semibold" data-translate="experienceTitle">
      Experience
    </h2>
  </article>

  <article class="max-w-xl h-auto mt-8">
    <div class="flex flex-col gap-8">
      <!-- March 2022 Experience -->
      <div class="border-l-4 border-[#e8af72] pl-6">
        <time class="text-sm text-gray-500" data-translate="march2022"
          >January 2021 - October 2023</time
        >
        <h3 class="text-lg font-semibold mt-2" data-translate="quantumJob">
          Junior Full-stack Developer in Quantum Outsourcing Group
        </h3>
        <ul class="mt-4 space-y-2">
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="quantumTask1"
              >Using the API of ChatGPT, I created a chatbot that helped to
              centralize all the important processes of the company instead of
              having multiple PDFs, Excels, etc.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="quantumTask2"
              >Creating a clock-in tool that allows workers to generate their
              timesheets.</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="quantumTask3"
              >I don't know what to put here</span
            >
          </li>
        </ul>
      </div>

      <div class="border-l-4 border-green-500 pl-6">
        <time class="text-sm text-gray-500" data-translate="march2021"
          >November 2023</time
        >
        <h3 class="text-lg font-semibold mt-2" data-translate="konectaJob">
          RPA Developer in Konecta
        </h3>
        <h4 class="font-semibold mb-2 mt-4" data-translate="tasks">
          Responsibilities
        </h4>
        <ul class="space-y-2">
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="konectaTask1"
              >Talking to the operation (call center), and with the managers to
              develop the automation</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="konectaTask2"
              >Improving between 20 to 30% the differents process of the
              operation which means getting more work done</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="konectaTask3"
              >Helping the Company to save money on hiring due to the
              optimization in time, avoiding human mistakes</span
            >
          </li>
          <li class="flex items-start">
            <span class="text-gray-400 mr-2">•</span>
            <span data-translate="konectaTask4"
              >I proposed and crafted a "magazine" where we can see the projects
              (UI, code and good practices), of the co-workers. This helped to
              improve our code and team-work</span
            >
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
