---
import Layout from "../layouts/Layout.astro"
---

<section class="w-full h-auto grid place-content-center py-16 sm:py-4">
  <article
    class="min-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="w-full"
        height="h-full"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase-2"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z"
        ></path><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path></svg
      >
    </div>

    <h2 class="text-2xl font-semibold">Experience</h2>
  </article>
</section>
