<header class="w-full h-11">
  <nav>
    <ul
      class="w-full flex justify-center gap-x-4 p-4 font-semibold text-base md:text-xl lg:text-2xl"
    >
      <li
        class="hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
      >
        Products
      </li>
      <li
        class="hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
      >
        Experience
      </li>
      <li
        class="hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
      >
        Contact
      </li>
      <li
        class="hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out"
      >
        About Me
      </li>
    </ul>
  </nav>
</header>
