---
import Layout from "../layouts/Layout.astro";
import ButtonAva from "./ButtonAva.astro";
import perfilImg from "../assets/perfil.png";

---
<main>
    <section class="w-full h-full grid place-content-center py-8 sm:py-4 ">
        <article class="max-w-xl h-auto flex justify-start items-center gap-x-4">
            <div class="w-18 h-18 rounded-full">
                <img src={perfilImg.src} alt="profile-photo" class="w-full h-full rounded-full object-cover">
            </div>
            <ButtonAva href="https://linkedin.com/in/tuusuario"
            text="Disponible para trabajar"/>
        </article>
        <article class="max-w-xl h-auto flex flex-col justify-start items-center gap-x-4 mt-2">
            <div class="w-full">

                <h1 class="inline text-4xl font-bold text-left">Hola!, soy André</h1>
            </div>
            <p>I'm a junior Front-End developer with Expertise in HTML, CSS, JavaScript, React, Tailwindcss, Git, Basic TypeScript, Firebase Services and I'm currently learnig some Back-end skills such as: Node, Express, Postgress, MongoDB </p>
        </article>
        <article></article>
    </section>
</main>