---
import ButtonAva from "./ButtonAva.astro"
import perfilImg from "../assets/perfil.png"
import LinkedInIcon from "../icons/LinkedInIcon.astro"

const openTag = "&lt;/&gt;"
const closeTag = "&lt;/&gt;"
---

<section class="w-full h-full grid place-content-center py-16 sm:py-4">
  <article
    class="max-w-xl h-auto flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-18 h-18 rounded-full">
      <img
        src={perfilImg.src}
        alt="profile-photo"
        class="w-full h-full rounded-full object-cover"
      />
    </div>
    <ButtonAva href="https://linkedin.com/in/tuusuario" />
  </article>

  <article
    class="max-w-xl h-auto flex flex-col justify-start items-center gap-4 mt-4"
  >
    <div class="w-full">
      <h1 class="inline text-4xl font-bold text-left" data-translate="greeting">
        Hey!, I'm André
      </h1>
    </div>

    <p class="text-xl font-semibold leading-9">
      <span data-translate="heroDescription"
        >I'm a junior Front-End developer with Expertise in</span
      >
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >HTML</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >CSS</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >JavaScript</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >React</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >Tailwind</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >Git</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >Basic TypeScript</span
      >,
      <span
        class="bg-gray-700/80 text-blue-300 px-3 py-1 rounded-lg font-semibold mx-1 border border-gray-600/50 shadow-sm hover:bg-gray-600/80 transition-all duration-200"
        >Firebase Services</span
      >
      <span data-translate="backendSkills"
        >and I'm currently learning some Back-end skills such as: Node, Express,
        PostgreSQL, MongoDB.</span
      >
    </p>
  </article>

  <article class="max-w-xl h-auto mt-8">
    <a
      href="https://www.linkedin.com/in/andré-vélez-8401a5237/"
      target="_blank"
      class="w-30 flex justify-around p-2 border rounded-2xl hover:scale-115 transition-transform duration-300 ease-in-out shadow-2xl hover:bg-[#0077B5] hover:text-white hover:border-0"
    >
      <span class="font-semibold">LinkedIn</span>
    </a>
  </article>
</section>
