---
import Layout from "../layouts/Layout.astro"
import posImg from "../assets/pos-photo.png"
---

<section class="w-full h-auto grid place-content-center py-16 sm:py-4">
  <article
    class="min-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="w-full"
        height="h-full"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-code"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M7 8l-4 4l4 4"></path><path d="M17 8l4 4l-4 4"></path><path
          d="M14 4l-4 16"></path></svg
      >
    </div>

    <h2 class="text-2xl font-semibold">Projects</h2>
  </article>

  <article
    class="min-w-xl h-auto flex justify-start items-center gap-x-4 mt-6 sm:mt-4 md:mt-6"
  >
    <div class="w-full h-auto flex">
      <div
        class="w-80 h-auto rounded-3xl border border-gray-500 p-1 overflow-hidden"
      >
        <img src={posImg.src} alt="pos-screenshot" class="object-cover" />
      </div>
      <div class="flex-grow px-2">
        <span class="text-xl font-bold text-center"> POS - Point of Sale </span>
        <div></div>
        <p>
          All of the pages and components <br /> are first designed in Figma <br
          /> and we keep a parity between <br /> the two versions <br /> even as
          we update the project.
        </p>
        <div></div>
      </div>
    </div>
  </article>
</section>
