---
import ExpressIcon from "../icons/ExpressIcon.astro"
import TailwindIcon from "../icons/TailwindIcon.astro"
import NodeIcon from "../icons/NodeIcon.astro"
import JSIcon from "../icons/JSIcon.astro"
import PlayIcon from "../icons/PlayIcon.astro"

const { projectImg, projectTitle, projectDesc } = Astro.props
---

<article
  class="max-w-xl h-auto flex justify-start items-center gap-x-4 mt-6 sm:mt-4 md:mt-6"
>
  <div class="w-full h-auto flex flex-col">
    <div class="w-full h-auto flex">
      <div
        class="min-w-72 h-48 rounded-3xl border border-gray-500 p-1 overflow-hidden hover:scale-110 hover:cursor-pointer transition-transform duration-300 ease-in-out"
      >
        <img
          src={projectImg}
          alt="project-screenshot"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="w-full flex flex-col justify-around pl-6 pr-28">
        <h3
          class="text-xl font-bold text-left block"
          data-translate="postTickTitle"
        >
          Post Tick
        </h3>
        <ul class="flex items-center justify-around gap-x-1">
          <div title="Express.js">
            <ExpressIcon />
          </div>
          <div title="Tailwind CSS">
            <TailwindIcon />
          </div>
          <div title="Node.js">
            <NodeIcon />
          </div>
          <div title="JavaScript">
            <JSIcon />
          </div>
        </ul>
        <a
          class="text-black flex p-3 border-2 border-black rounded-lg hover:bg-[#56a54a] hover:text-white hover:border-white"
          href="#"
        >
          <PlayIcon class="w-5 h-5 inline-block ml-1" />
          <span
            class="flex-grow text-center font-semibold"
            data-translate="demo">Demo</span
          >
        </a>
      </div>
    </div>
    <div class="w-full mt-4">
      <p class="text-md" data-translate="postTickDescription">
        I wanted to show my <span class="font-semibold">back-end skills</span> as
        well with this Post Tick project. I'm using <span class="font-semibold"
          >Socket.io</span
        > for real-time communication. Which means that you can multiple users can
        open the project and see the same data (Post Ticks) in real-time.
      </p>
    </div>
  </div>
</article>
