---
import ProjectCard from "../components/ProjectCard.astro"

import posTickImg from "../assets/posttick.png"

import SaasIcon from "../icons/SaasIcon.astro"

const projectDesciption = `All of the pages and components are first designed in Figma and we
keep a parity between the two versions even as we update the project.`
---

<section class="w-full h-auto grid place-content-center py-16 sm:py-4">
  <article
    class="max-w-xl h-8 flex justify-start items-center gap-x-4 mt-16 sm:mt-4 md:mt-8"
  >
    <div class="w-auto h-8">
      <SaasIcon />
    </div>

    <h2 class="text-2xl font-semibold">Projects</h2>
  </article>

  <article class="max-w-xl h-auto flex flex-col items-center">
    <ProjectCard
      projectImg={posTickImg.src}
      projectTitle="Post Tick"
      projectDesc={projectDesciption}
    />
  </article>
</section>
